.faq {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .question {
    border: 1px solid #ccc;
  }
  
  .question.active {
    border: 1px solid #000;
  }
  
  .question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
  }
  
  .question-body {
    padding: 10px;
  }
  