#profiletitle {
  background: url('../images/stacked-waves-haikei.svg')
    center center/cover no-repeat;
  padding: 5rem 0;
  color: #fff;


}

.section {
  padding: 40px 0;
  background: #f8f9fa;




}

.container {
  max-width: 800px;
  margin: 0 auto;


}

.card {
  margin-bottom: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profileCard {
  display: flex;

  width: 100%; /* Ajustez la largeur selon vos besoins */

}

@media (max-width: 991.98px) {
  .col-md-4,
  .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}



