{
  email g.brogniet1@gmail.com
}

jeanvives.be {
  reverse_proxy 192.168.20.10:4000
  header {
        # Active la politique de sécurité des transports stricts (HSTS) pour 6 mois
        Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
        
        # Configure la directive de politique de référence
        Referrer-Policy "same-origin"
        
        # Active la politique des autorisations pour les fonctionnalités expérimentales
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
        
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }
} 

www.jeanvives.be {
  reverse_proxy 192.168.20.10:4000
  header {
        # Désactive la détection de MIME type basée sur le contenu du fichier

        Referrer-Policy "same-origin"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Permissions-Policy "geolocation=(), microphone=(), camera=()"
  }
}
