
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add background image to the id body */
/* #body {
  background-image: url("../public/logojv10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.2;
} */
/* tout descendre  et mettre une taile maximale de 90% */
.allBody {
  margin-top: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: grey 0px 0px 10px 0px;
  border-radius: 10px;
}
