.container {
  display: flex;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Ajouter d'autres styles pour la section */
}

/* Appliquer le style aux deux sections */
.section1,
.section2 {
  flex: 1; /* Permet aux sections de prendre toute la largeur */
  padding: 1em;
  /* Ajouter les styles de base pour chaque section */
}

/* Style pour la section à gauche */
.section1 {
  order: 1; /* Inverse l'ordre d'affichage */
}

/* Style pour la section à droite */
.section2 {
  order: 2;
}


.section-three {
  display: flex center;
  flex-direction: row;
  flex-flow : row wrap;
  flex-grow: 1;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  width : 100%;

}


/* CSS des Cards */
.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    margin-top : 20px;
    /* toutes les cards ont la même hauteur */
    height: auto; 
    width: auto;
 
  }
.card-title {
    padding: 16px;
    position: relative;
    color: black;

    border-bottom: 2px solid #e6ecf0;
    width: 90%;
    margin: 0 auto;
  }
  .card-title h2 {
    font-size: 1.2em;
    font-weight: 300;
    justify-content: center;
    text-align: center;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card-content {
    padding: 16px;
    background-color: #fff;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .card-content h1, .card-footer h1 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.5em;
  }
  
  .card-content p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #1DA1F2;
    color: #fff;
    text-decoration: none;
  }

  .divBill {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    margin-top : 20px;
    /* toutes les cards ont la même hauteur */
    height: auto; 
    max-width: 25em
  }
  .infoBill {
    padding: 16px;
    position: relative;
    color: black;

    /* typo moderne et en gras */
    font-family:' Trebuchet MS	';
    font-size: 1em;
    font-weight: 300;


    /* Ligne de séparation  avec une width de 90% et placée au dessous du titre et au milieu*/
    border-bottom: 2px solid #e6ecf0;
    width: 90%;
    margin: 0 auto;
  }
  .custom-button:focus,
.custom-button:active {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
  /* taille plus petite */

  
}

.custom-button:focus,
.custom-button:active {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
  /* taille plus petite */

  
}